body{
    margin: 0;
}

.mmm{
    display: flex;
}

header{
    height: 50px;
    background-color: aqua;
}


.kyo{
    font-size: 25px;
    margin-left: 10px;
}

.f-container{
    text-align: left;
}

.f-item{
    display: inline-block;
    font-size: 17px;
    margin-left: 10px;
    margin-right:10px;
}

main{
    flex: 1;
}

.left{
    width:150px;
}

aside{
    width:200px;
}

.cart-list{
    display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
       
       
}


.products-item{
    flex-basis:33.333%;
	max-width:260px; 
	box-sizing:border-box;
	margin-bottom: 35px;
	padding:10px;
	border:solid 1px #cacaca;
	list-style: none;
	text-align: center;
} 